.profileContainer {
  width: 100%;
  background-color: var(--dark-900);
  padding-top: 36px;
  padding-right: 64px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.postsGridContainer {
  width: 100%;
  padding: 0 24px 32px;
  position: relative;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 234px);
  gap: 12px;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;
}

.loaderContainer {
  width: 100%;
  min-height: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bottomFadeContainer {
  position: absolute;
  bottom: 150px;
  left: 0;
  width: 100%;
  height: 250px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
}

.fadeOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--dark-900) 10%, transparent);
  z-index: 0;
}

.authNotice {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
  padding: 10px 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  border-radius: 8px;
  font-size: 15px;
  pointer-events: auto;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  .lock {
    margin-bottom: 2px;
  }
}

.loader {
  color: #aaaaaa;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #aaaaaa;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

//@media (max-width: 1024px) {
//  .postsGrid {
//    grid-template-columns: repeat(3, 1fr);
//  }
//}
