.Overlay {
  position: fixed;
  inset: 0;

  background-color: rgb(165 159 159 / 60%);
  backdrop-filter: blur(2px);

  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  border-radius: 6px;

  background-color: var(--dark-300);
  box-shadow: 0 4px 12px rgb(0 0 0 / 30%);

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.titleContainer {
  position: relative;
  padding-right: 30px; // Оставляем место для кнопки закрытия
}

.Title {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--light-100);
}

.divider {
  height: 1px;
  margin: 15px -25px;
  border: none;
  background-color: var(--light-100);
}

.modalContent {
  > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.singleButton {
  margin-top: 24px;
  text-align: center;
}

.Description {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--light-100);
}

.IconButton {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: none;

  background: none;

  transition: all 0.2s;

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-500);
  }
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes content-show {
  0% {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
