.button {
  color: var(--light-100);
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  padding: 6px 24px;
  width: 182px;
  height: 36px;
  cursor: pointer;
}





.primary {
  background: var(--accent-500);
}

.primary:hover {
  background: var(--accent-100);
}

.primary:active {
  background: var(--accent-700);
}





.secondary {
  background: var(--dark-300);
}

.secondary:hover {
  background: var(--dark-100);
}

.secondary:active {
  background: var(--dark-700);
}





.outlined {
  border: 1px solid var(--accent-500);
  color: var(--accent-500);
  background: none;
}

.outlined:hover {
  border: 1px solid var(--accent-100);
}

.outlined:active {
  border: 1px solid var(--accent-700);
}

.outlined:focus {
  border: 1px solid var(--accent-700);
}





.link {
  color: var(--accent-500);
}

.link:hover {
  color: var(--accent-100);
}

.link:active {
  color: var(--accent-700);
}

.link:focus {
  border: 1px solid var(--accent-700);
}

.fullWidth {
  width: 100%;
}