.button {
  cursor: pointer;

  display: inline-block;


  height: 36px;
  padding: 6px 24px;
  border: none;
  border-radius: 2px;

  font-size: 16px;
  font-weight: 600;
  color: var(--light-100);
  text-align: center;
  text-decoration: none;

  &.primary {
    background: var(--accent-500);

    &:hover {
      background: var(--accent-100);
    }

    &:active {
      background: var(--accent-700);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
      background: var(--accent-900);
    }
  }

  &.secondary {
    background: var(--dark-300);

    &:hover {
      background: var(--dark-100);
    }

    &:active {
      background: var(--dark-700);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
      background: var(--dark-900);
    }
  }

  &.outlined {
    border: 1px solid var(--accent-500);
    color: var(--accent-500);
    background: none;

    &:hover {
      border-color: var(--accent-100);
    }

    &:active,
    &:focus {
      border-color: var(--accent-700);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }

  &.link {
    color: var(--accent-500);
    text-decoration: none;

    &:hover {
      color: var(--accent-100);
    }

    &:active {
      color: var(--accent-700);
    }

    &:focus,
    &:focus-visible {
      border: 1px solid var(--accent-700);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
