.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 170px;

  &.disabled {
    border-color: (--dark-100);
  }

  &.error {
    .input {
      border-color: var(--danger-500);

      &::placeholder {
        color: var(--light-100);
      }
    }
  }
}

.inputWrapper {
  width: 279px;
  display: flex;
  align-items: center;
  position: relative;
}

.inputWrapper:focus-within .input {
  border-color: var(--light-100);
  color: var(--light-100);
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.iconStart {
  left: 12px;
}

.iconEnd {
  right: 12px;
}

.input {
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  padding: 6px 18px;
  width: 100%;
  min-height: 36px;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: inherit;

  &.withIconStart {
    padding-left: 41px;
  }

  &::placeholder {
    color: var(--light-900);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &:active {
    border-color: var(--light-100);
    color: var(--light-100);
    outline: none;
  }

  &:hover {
    border-color: var(--light-900);
  }

  &:focus {
    border-color: var(--accent-500);
    outline: none;
  }

  &:disabled {
    border-color: var(--dark-100);
    cursor: not-allowed;
  }
}

.label {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--light-900);
}

.errorText {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--danger-500);
}