.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  max-width: 380px;
  margin: 24px auto;
  padding: 24px;
  border: 1px solid var(--dark-300);

  background-color: var(--dark-500)
}

.button {
  text-align: center;
}

.iconGithub img {
  width: 34px;
}

.errorMessage {
  font-size: 14px;
  color: red;
}
