.rdp {
    width: 300px;
    height: 348px;
    border: 1px solid var(--dark-300);
    padding: 16px 24px;
    background: var(--dark-500);
    border-radius: 2px;
    color: var(--light-100);
    font-size: 16px;
}

.rdp-today {
    color: var(--accent-500) !important;
}

.rdp-day_weekend {
    color: var(--danger-300);
}

.rdp-day {
    font-size: 16px;
    width: 36px;
    height: 36px;
    padding: 4px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;

    //&:focus {
    //    outline: 2px solid var(--accent-900);
    //    outline-offset: 2px;
    //    border-radius: 50%;
    //}

    &.rdp-selected {
        background-color: var(--accent-900);
        border-radius: 50%;
        &.rdp-range_middle{
            background-color: var(--accent-900);
            border-radius: 0 !important;
            &:hover {
                background-color: var(--accent-700) !important;
                border-radius: 0 !important;
            }
        }
    }
    &:hover {
        cursor: pointer;
        background-color: var(--accent-700) !important;
        border-radius: 50% !important;
        transform: scale(1.05);
    }
}

.rdp-day_button {
    width: 100%;
    height: 100%;
    &:focus-visible {
        outline: 2px solid var(--accent-900);
        outline-offset: 2px;
        border-radius: 50%;
    }

}

.same-range {
    background-color: var(--accent-900);
    border-radius: 50%;
}
.range-start-full {
    background-color: var(--accent-900);
    border-radius: 50% 0 0 50% !important;
    &:hover {
        background-color: var(--accent-900);
        border-radius: 50% 0 0 50% !important;
    }
}
.range-end-full {
    background-color: var(--accent-900);
    border-radius: 0 50% 50% 0 !important;

    &:hover {
        background-color: var(--accent-900);
        border-radius: 0 50% 50% 0 !important;
    }
}

.rdp-caption_label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.rdp-month_caption{
    padding: 0 6px;
    margin-top: 6px;
    margin-bottom: 26px;
}

.rdp-outside {
    color: var(--light-900);
    &.rdp-day_weekend {
        color: var(--light-900);
    }
}

.rdp-weekday {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--light-900);
    padding-bottom: 12px;
    text-align: center;
}

.label-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    color: var(--light-900);

    .required {
        color: var(--danger-300);
        margin-left: 4px;
    }
}

.datepicker-input {
    background: inherit;
    border: 1px solid var(--dark-100);
    color: var(--light-100);
    border-radius: 2px;
    min-width: 262px;
    margin-bottom: 2px;
    transition: border-color 0.3s ease-in;

    font-size: inherit;
    padding: 6px 12px;
    height: 36px;

    &::placeholder {
        font-size: 16px;
    }

    &:focus-visible {
        outline: 2px solid var(--accent-700);
        border-color: transparent;
    }
    &:hover {
        border-color: var(--light-900);
        &:focus-visible {
            border-color: transparent;
        }
    }

    &.input-error {
        border: 2px solid var(--danger-500);
        color: var(--danger-500);
        outline: none;
        &:hover {
            border: 2px solid var(--danger-700);
        }
    }
    &.input-disabled {
        color: var(--light-900);
        cursor: not-allowed;
        &:hover {
            border: 1px solid var(--dark-300);
        }
    }
}

.rdp-wrapper {
    position: relative;
}

.input-error-message {
    position: absolute;
    color: var(--danger-500);
    font-size: 0.8rem;
    left: 2px;
    z-index: 99999999999999999;

}
.custom-calendar-icon{
    position: absolute;
    right: 12px;
    top: 31px;
    pointer-events: none;
    transition: transform 0.3s ease;
    &.calendar-error{
        filter: invert(88%) sepia(89%) saturate(6321%) hue-rotate(341deg) brightness(93%) contrast(112%);
    }
}