.buttonsContainer {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: flex-end;

  margin-top: 24px;

  & .button {
    cursor: pointer;

    width: 96px;
    height: 64px;
    border: 1px solid var(--dark-300);
    border-radius: 2px;

    background-color: var(--dark-500);
  }
}

.title {
  font-size: 15px;
  font-weight: 400;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
}

.resultModal {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.infoBox {
  display: flex;
  gap: 48px;

  margin: 18px 0;
  padding: 12px 24px;
  border: 1px solid var(--dark-300);

  background-color: var(--dark-500);
}

.subscribtionTitle {
  padding-top: 30px;

  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--light-100);
}

.infoTitle {
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--light-900);
}

.infoDate {
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: var(--light-100);
}
