/* Custom navigation styling */
.my-custom-datepicker .custom-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--dark-100);
    color: #333;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    /*z-index: 15;*/
    /*margin: 0 4px;*/
}

.my-custom-datepicker .custom-nav-button:hover:not(:disabled) {
    background-color: #f5f5f5;
    color: #000;
    border-color: #ccc;
}

.my-custom-datepicker .custom-nav-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.my-custom-datepicker .custom-icon {
    display: block;
}

/* Additional styling for the DayPicker itself if desired */
.my-custom-datepicker .rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #0070f3;
    --rdp-background-color:var(--danger-100);
}

/* You can add more specific styles to customize other aspects */
.my-custom-datepicker .rdp-nav {
    padding: 4px;
}

.my-custom-datepicker .rdp-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px 0;
}

.custom-nav-button {
    background: none;

    border: none;
    cursor: pointer;
    padding: 5px;
}

.custom-nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-nav {
    position: absolute;
    display: flex;
    /*align-self: end;*/
    right: 0;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
    /*margin-bottom: 10px;*/
}

.custom-nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
}

.custom-nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
