.linearProgress {
  width: 100%;
  height: 5px;
  background-color: var(--accent-100);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.linearProgressBar {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: -50%;
  animation: progress 2s infinite linear;
  border-radius: 4px;
}

@keyframes progress {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}
