.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  margin: 36px auto 0;
  padding: 24px;

  background-color: var(--dark-500);
}

.sign {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.forgot {
  width: 114px;
  height: 24px;
  margin-left: 200px;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  color: var(--light-900) !important;
}

.account {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.alternativeAuthorisations {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.input {

}
