.card {
  margin: 36 auto;
  width: 378px;
  height: 504px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-500);
}

.sign {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
}

.forgot {
  margin: 36px 0 24px 214px;
  padding: 0;
  width: 114px;
  height: 24px;
  color: var(--light-900) !important;
  font-size: 14px;
  font-weight: 400;
}

.account {
  text-align: center;
  margin: 18px 0 6px;
  font-size: 16px;
  font-weight: 400;
}

.alternativeAuthorisations {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.input {
  margin-top: 24px;
}
