.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--dark-500);
  background-color: var(--dark-900);
}

.notifications {
  background: none;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 20px;
  margin-right: 50px;
}

.box {
  position: relative;

  &::after {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background: red;
    content: var(--notification-count);
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 12px;
  }
}
