.textArea {
  background: var(--dark-500);
  color: var(--light-100);
  border-radius: 2px;
  width: 284px;
  height: 84px;
  resize: none;
  padding: 6px 0 0 12px;


  &:focus {
    border-color: 2px var(--light-100);
    outline: none;
  }
}

.error {
  border: 2px solid red;

}

.errorMessage {
  color: red;
}